.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-comtainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 140px;
    grid-gap: 45px;
}

.card-container{
    background-color: #FFE0B3;
}